# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# IDE
.idea/
.vscode/
*.DS_Store
Thumbs.db

# Env
.env

# Test artifacts
.pytest_cache/
htmlcov/
.coverage

# Models cache
models/
